html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial',
    sans-serif;
  font-size: 1.75rem;
  line-height: 1.3;
  color: var(--main-foreground-color);
  background-color: var(--main-background-color);
}

p a {
  color: var(--link-color);
  font-weight: 600;
}

p a:active,
p a:hover {
  color: var(--link-hover-color);
  background-color: var(--link-color);
  text-decoration: none;
}

p > img {
  vertical-align: middle;
}
