.case-study {
  margin: 0 auto;
  padding: 3rem 0;
  max-width: 80rem;
}

.case-study h1,
.case-study h2,
.case-study h3 {
  margin: 2rem 0;
}

.case-study blockquote {
  margin: 2rem 0;
  padding: 1rem;
  color: #222;
  background-color: #ddd;
}

.case-study blockquote > p {
  padding-left: 1rem;
  border-left: 0.5rem solid #999;
}

.case-study > p > img {
  width: 100%;
  height: auto;
}

@media (min-width: 70rem) {
  .case-study .multiple-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
  }
}

.case-study .multiple-images img {
  width: 100%;
  height: auto;
}

.case-study > p {
  margin: 1rem 0;
}

.case-study > ul {
  margin: 1rem 0;
}

.case-study > ul li,
.case-study > ol li {
  margin-left: 1.5rem;
}

@media (min-width: 70rem) {
  .case-study > ul li,
  .case-study > ol li {
    margin-left: 3rem;
  }
}

.mermaid > svg {
  max-width: 100% !important;
}

.case-study pre[class*='language-'] {
  margin: 2rem 0;
}

.case-study pre[class*='language-'],
.case-study code[class*='language-'],
.case-study code {
  font-size: 1.2rem;
  line-height: 1.85rem;
  border-radius: 0.25rem;
  background: #000;
}

.case-study code {
  color: #fff;
  padding: 0.35rem;
  vertical-align: text-bottom;
}

.case-study .stats {
  margin: 4rem 0;
}

.case-study .stats ul {
  margin: 2rem 0;
}

@media (min-width: 70rem) {
  .case-study .stats ul {
    display: flex;
  }
}

.case-study .stats ul li {
  list-style: none;
  flex: 1;
  text-align: center;
}

.case-study .stats ul li span {
  display: block;
  font-size: 4rem;
  font-weight: 600;
}
