.avatar {
  border: 0.5rem solid #fff;
  border-radius: 50%;
}

.page-header {
  margin: 2rem auto;
  max-width: 80rem;
  display: flex;
  gap: 1rem 2rem;
  align-items: center;
  flex-direction: column;
  clear: none;
}

@media (min-width: 70rem) {
  .page-header {
    flex-direction: row;
  }

  .page-header h2 {
    width: 80%;
  }
}

.page-header h1 {
  margin-bottom: 1rem;
  line-height: 1;
  font-weight: 600;
}

.page-header h1.speech-bubble {
  margin-top: 2rem;
}

.page-header h1.speech-bubble::before {
  position: absolute;
  left: calc(50vw - 4.5rem);
  top: -3.5rem;
  content: '';
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-size: contain;
  background-image: url('/images/speech-bubble-arrow-top.svg');
  background-repeat: no-repeat;
  z-index: 0;
}

@media (min-width: 70rem) {
  .page-header h1.speech-bubble::before {
    left: -1rem;
    top: unset;
    bottom: -5.8rem;
    width: 6rem;
    height: 6rem;
    background-image: url('/images/speech-bubble-arrow-left.svg');
  }
}

.page-header h2 {
  float: right;
  margin-top: 0.5rem;
  line-height: 1;
  font-weight: 400;
}

.page-header .speech-bubble {
  position: relative;
  display: inline-block;
  padding: 1.25rem;
  color: #000;
  border: 0.25rem solid #000;
  border-radius: 1rem;
  background-color: #fff;
}

@media (min-width: 70rem) {
  .page-header {
    margin: 2rem auto;
  }
}

.page-header > img {
  margin: 2rem 0;
}

.page-bio {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 80rem;
  text-align: center;
}

.page-nav {
  margin: 0 auto;
  padding: 3rem 0;
  max-width: 80rem;
}
