:root {
    --main-bg-color: #F66188;;
  }


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    line-height: 1.2;
    color: #222;
    letter-spacing: 0.01em;
}

a {
    color: var(--main-bg-color);
}

p {
    margin: 2rem;
}

mark {
    margin: -0.2em 0;
    padding: 0.2em;
    color: inherit;
    background-color: var(--main-bg-color);
    text-shadow: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page-header {
    padding: 20rem 4rem 4rem;
    color: #fff;
    background-color: #000;
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.page-header h1 {
    font-size: 4rem;
    line-height: 1.5;
    max-width: 80rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.page-wrapper {
    padding: 4rem;
    font-size: 1.5rem;
    line-height: 1.3;
}

.project {
    margin: 2rem 0;
}

.project--header {
    margin-bottom: 1rem;
}

.project--description {
    margin: 2rem 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.project--footer {
    margin-top: 2rem;
}

.project--additional-links {
    margin: 1rem 0 2rem 2rem;
}
