@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }

  :root {
    --link-color: #8728e6;
    --link-hover-color: #fff;
    --main-foreground-color: #222;
    --main-background-color: #f3f4f6;
    --project-foreground-color: #222;
    --project-background-color: #fff;
    --button-outline-color: rgba(100, 100, 100, 0.5);
    --button-outline-active-color: #8728e6;
    --social-icon-color: #8728e6;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --link-color: #ebff87;
    --link-hover-color: #1d1d21;
    --main-foreground-color: #fff;
    --main-background-color: #1d1d21;
    --project-foreground-color: #fff;
    --project-background-color: #2f3234;
    --button-outline-color: rgba(100, 100, 100, 0.5);
    --button-outline-active-color: #ebff87;
    --social-icon-color: #ebff87;
  }
}

:root {
  --itch-button-outline-color: rgba(223, 80, 80, 0.3);
  --itch-button-outline-active-color: rgb(223, 80, 80);
  --itch-button-background-color: rgb(223, 80, 80);
}
