{
  "arrowParens": "avoid",
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.json", ".*rc", "*.yml"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.liquid"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
