{
  "arrowParens": "avoid",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.liquid"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
