<!DOCTYPE html>
<html>
    {% include './head.liquid' %}
    <body>
        {% include './header.liquid' %}
        <main>
            {{ content }}
        </main>
        {% include './footer.liquid' %}
        <script>
            if (
                window.location.hostname !== 'localhost' &&
                'serviceWorker' in navigator
            ) {
                window.addEventListener('load', () =>
                    navigator.serviceWorker.register('/serviceWorker.js')
                );
            }
        </script>
    </body>
</html>
