<!doctype html>
<html lang="en">
    {% render 'head' %}
    <body>
        {% render 'header' %}
        <main>
            {{ content }}
        </main>
        {% render 'footer' %}
    </body>
</html>
