<!doctype html>
<html>
    {% render 'head' %}
    <body>
        {% render 'header' %}
        <main>
            {{ content }}
        </main>
        {% render 'footer' %}
        <script>
            if (window.location.hostname !== 'localhost' && 'serviceWorker' in navigator) {
                window.addEventListener('load', () => navigator.serviceWorker.register('/serviceWorker.js'));
            }
        </script>
    </body>
</html>
