<!doctype html>
<html>
  {% render 'head' %}
  <body>
    <header class="page-header">
      <a href="/">&#8592; Back to Portfolio</a>
    </header>
    <main class="case-study">
      {{ content }}
    </main>

    {% mermaid_js %}
  </body>
</html>
