<!doctype html>
<html>
    {% render 'head' %}
    <body>
        <main>
            <header class="page-header">
                <a href="/">&#8592; Back to Portfolio</a>
            </header>

            <div class="case-study">
                {{ content }}
            </div>
        </main>
    </body>
</html>
