<footer class="page-footer">
    <ul class="social-links">
        <li><a href="https://neogeek.dev">Blog</a></li>
        <li><a href="https://github.com/neogeek">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/neogeek">LinkedIn</a></li>
        <li><a href="https://speakerdeck.com/neogeek">Speaker Deck</a></li>
    </ul>
</footer>
