<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>Scott Doxey — Game, web, and open source tool developer and designer.</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    >
    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

    <link rel="manifest" href="/manifest.json">

    <link rel="image_src" href="https://scottdoxey.com/images/avatar.png">

    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="/images/apple-touch-icon.png"
    >
    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="/images/favicon-32x32.png"
    >
    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="/images/favicon-16x16.png"
    >

    <meta
        name="description"
        content="Hi! My name is Scott. I'm a game, web, and open source tool developer and designer."
    >

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scottdoxey.com/">
    <meta property="og:title" content="Scott Doxey — Game, web, and open source tool developer and designer.">
    <meta
        property="og:description"
        content="Hi! My name is Scott. I'm a game, web, and open source tool developer and designer."
    >
    <meta property="og:image" content="https://scottdoxey.com/images/poster.png">
</head>
